.container {
  text-align: center;
}

#scoreboard h2 {
  margin-bottom: 0;
}
#scoreboard h3 {
  float: left;
  padding-right: 10px;
}

img {
  display: none;
  width: 100%;
  transform: scale(8);
  -webkit-filter: blur(2px);
  transition: transform 4s ease-in-out, -webkit-filter 3s ease-in;
}

.image-container{
    width: 100%;
    overflow:hidden;
    margin:auto;
}

.zoom-out{
    transform: scale(1);
    -webkit-filter: blur(0px);
}

#answer-buttons, #restart-game, #scoreboard, #reveal {
  display: none;
}
